.ChatContainer {
  display: flex;
  height: 100vh;
  padding: 5px;
}

.ChatContainer.choose {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.ChatContainer.choose h1 {
  color:  rgb(159, 162, 165)
}